@model IEnumerable<WebMVC1.Models.Departamento>

@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>



    <h2>Index</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th> @Html.DisplayNameFor(model => model.Presupuesto)</th>
            <th> </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeptID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Presupuesto)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DeptID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DeptID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DeptID })
                    @Html.ActionLink("Create Empleados", "Delete", new { id = item.DeptID })

                </td>
            </tr>
        }

    </table>
</body>
</html>

